<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.inhm.gamdong">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:name="MyWidget">
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_config"/>
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>

            </intent-filter>
        </receiver>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:enabled="true" android:name=".MyWidget$UpdateService" />

    </application>


</manifest>
